@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 24.6 13% 100%;
    --foreground: 24.6 5% 10%;
    --card: 24.6 13% 100%;
    --card-foreground: 24.6 5% 15%;
    --popover: 24.6 13% 100%;
    --popover-foreground: 24.6 95% 10%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 24.6 13% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: -13.399999999999999 13% 95%;
    --muted-foreground: 24.6 5% 40%;
    --accent: -13.399999999999999 13% 90%;
    --accent-foreground: 24.6 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 24.6 5% 100%;
    --border: 24.6 20% 82%;
    --input: 24.6 20% 50%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 24.6 13% 10%;
    --foreground: 24.6 5% 100%;
    --card: 24.6 13% 10%;
    --card-foreground: 24.6 5% 100%;
    --popover: 24.6 13% 5%;
    --popover-foreground: 24.6 5% 100%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 24.6 13% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -13.399999999999999 13% 25%;
    --muted-foreground: 24.6 5% 65%;
    --accent: -13.399999999999999 13% 25%;
    --accent-foreground: 24.6 5% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 24.6 5% 100%;
    --border: 24.6 20% 50%;
    --input: 24.6 20% 50%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
